body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 10px #ccc;
}

h2, h3 {
    text-align: center;
}

.painel {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    background: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    box-shadow: 0 0 6px #ccc;
}

.card p {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

